{% extends "base.html" %}

{% block content %}
    <br>
    <div class="container">
    <div class="col align-self-center">
    <h1>О проекте</h1>
    <p>Данный проект выполнен в рамках прохождения курса <a href="https://stepik.org/course/63298">Django – Stepik
        Academy.</a></p>
    <p><a href="https://github.com/k-dimitry/django_jobs">Ссылка на код проекта.</a></p>
    <p>Спасибо команде курса:
    <ul>
        <li><a href="https://stepik.org/org/kushedow">Глеб Кудешов</a></li>
        <li><a href="https://stepik.org/users/508169">Александр Ананьевский</a></li>
    </ul>
    </p>
    </div>
    </div>

{% endblock %}