{% extends 'base.html' %}

{% block content %}
    <main class="container mt-3">
        <section>
            <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Все компании</strong>
            </h1>
            <p class="text-center pt-1">Всего {{ companies.count }} компаний</p>
            <div class="row mt-5">
                <div class="col-12 col-lg-8 offset-lg-2 m-auto">
                    {% for company in companies %}
                    <div class="card mb-4">
                        <div class="card-body px-4">
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-9">
                                    <h2 class="h2 pb-2" style="text-transform: capitalize;">{{ company.name }}</h2>
                                    <p class="mb-2">{{ company.description }}</p>
                                    <p>{{ company.location }}</p>
                                    <p class="text-muted pt-1">У нас {{ company.employee_count }} сотрудников</p>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                                    <a href="companies/{{ company.id }}">Ссылка на наши вакансии<img src="{{ company.logo }}" width="130" height="80" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}